# Ignore Python bytecode files
*.pyc

# Ignore virtual environments
venv/
.venv/

# Ignore node_modules directory
node_modules/
# Ignore IDE/editor-specific files
.idea/
.vscode/
test.py
test2.py
test3.py
table_export.csv
client